.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .chart {
    max-width: 750px;
    min-height: 320px;
    width: 100%;
    height: auto;
  }
}
